.form-label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
}
.form-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #8D93A1;
    margin-top: -10px;
}

.form-header-grouping {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    h1 {
        margin-bottom: 0px;
    }
}

.forgot-password-wrapper {
    display: flex;
    justify-content: flex-end;
    a {
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        /* identical to box height */
        text-align: right;
        color: #1F4B24;
        margin-top: 5px;
    }
}

.signup-action {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;

    /* identical to box height */
    text-align: center;
    color: #8A8F95;


    a {
        color: #000;
        text-decoration: none;
        font-weight: 500;
    }
}

.google__sign-in-button{
    border: 1px solid #EDEDEF !important;
    border-radius: 8px;
    background-color: #fff !important;
    color: #353E42 !important;
    font-size: 14px;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        position: relative;
        top: 0px !important;
        right: 10px
    }
}

.google__sign-in__divider {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google__sign-in__divider__text {
    position: absolute;
    left: calc(50% - 40px);
    width: 80px;
    background-color: rgb(255,255,255);
    font-size: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    color:  #8A8F95;
    top: -11px;
    
}

.google__sign-in__divider__line {
    border-bottom: 1px solid #EDEDEF;
    width: 100%;
}
