.contact {
    padding: 0px 80px 100px 80px;
    @media screen and (max-width: 768px){
        flex-direction: column;
        padding: 0px;
    }
    .contact__left,
    .contact__right {
        width: 50%;

        @media screen and (max-width: 768px){
            width: 100%;
        }
    }
    .contact__right {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @media screen and (max-width: 768px){
            &.success-state {
                margin-top: -100px;
            }
            
        }
    }
    .contact__left {
        margin-top: -50px;
        padding-right: 50px;
        line-height: 40px;
        position: relative;
        left: 15px;

        @media screen and (max-width: 768px){
            height: 302px;
            text-align: center;
            padding: 40px;
            left: 0;
            margin-top: -80px;
        }
        h1 {
            color:  #FFF;
            font-family: "Montserrat";
            font-size: 44px;
            font-style: normal;
            font-weight: 500;
            line-height: normal; 
            margin-bottom: 16px;
            @media screen and (max-width: 768px){
                font-size: 24px;
                line-height: normal;
            }
        }

        p {
            color:#FFF;
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            padding-right: 120px;
            margin-bottom: 40px;
            @media screen and (max-width: 768px){
                font-size: 13px;
                line-height: normal;
                padding: 0px;
                margin-bottom: 24px;
            }
        }

        span {
            color: #FFF;
            font-family: "Montserrat";
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media screen and (max-width: 768px){
                font-size: 13px;
            }
        }
    }

    .contact__form {
        margin-top: -30px;
        text-align: center;
        padding: 40px; 
        width: 600px;
        border-radius: 16px;
        border: 1px solid #F1F1F1;
        background:  #FFF;
        /* Shadow/12 */
        box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.10); 
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 768px){
            border-radius: 0px;
        }
        h2 {
            color: #000;
            font-family: "Montserrat";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal; 
            margin-bottom: 35px;
        }

        .contact-form__textarea-wrapper {
            position: relative;
            width: 100%;    
        }
        .contact__form-control {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            label {
                color:  #000;
                font-family: "Montserrat";
                font-size: 19px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
                margin-bottom: 16px;
            }
            textarea {
                height: 120px;
            }
            input, textarea {
                border-radius: 8px;
                border: 1px solid #EBECEE;
                background: #FFF; 
                padding: 12px;
                color: #000;
                font-family: "Montserrat";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; 
            }
        }
        .contact-form__textarea-wrapper {
            position: relative;
            .contact__form__character-limit {
                position: absolute;
                bottom: 10px;
                right: 15px;
                opacity: .7;
                color: black;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 11px;
                line-height: 14px;

            }
        }
        .contact__form-attachment {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 45px;
            img {
                margin-right: 7px;
                height: 20px;
            }
            span {
                color: rgba(0,0,0,0.8);
                font-family: "Montserrat";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: underline; 
            }

            
        }
        .contact__form-submit{
            margin: 0 auto;
            display: flex;
            width: 278px;
            padding: 12px 40px;
            justify-content: center;
            align-items: center;
            gap: 12px; 
            border-radius: 8px;
            background: #353E42; 
            color: #FFF;
            text-align: center;
            font-family: "Montserrat";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
        }
    }
}

.contact__success {
    text-align: center;
    padding: 40px; 
    width: 516px;
    border-radius: 16px;
    border: 1px solid #F1F1F1;
    background:  #FFF;
    /* Shadow/12 */
    box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.10); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px){
        border-radius: 0px;
        position: relative;
        top: -150px;
    }
    h2 {
        color: #000;
        font-family: "Montserrat";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
        margin-bottom: 15px;
    }
    img {
        margin-bottom: 16px;
        width: 48px;
        height: 48px; 
    }

    span {
        margin-bottom: 16px;
        color:  #000;
        font-family: "Montserrat";
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }

    label {
        margin-bottom: 16px;
        color: #000;
        font-family: "Montserrat";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
    }


    button {
        display: flex;
        width: 278px;
        padding: 12px 40px;
        justify-content: center;
        align-items: center;
        gap: 12px; 
        border-radius: 8px;
        background: #353E42;
        color: #FFF;
        text-align: center;
        font-family: "Montserrat";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;  
    }
}

