.docs-page__bg-overlay {
    display: none;    
}
@media only screen and (max-device-width: 480px) {

    .docs-page__contact-section {
        padding: 10px !important;
        height: 324px !important;
        justify-content: center !important;
        align-items: center !important;
        background-size: cover;
        background-repeat: no-repeat !important;
        background-position: -350px center !important;
        position: relative;
        .docs-page__bg-overlay {
            display: block !important;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.4);
            position: absolute;
            left: 0;
            right: 0;
            z-index: 0;
        }
        .docs-page__contact-section-content {
            z-index: 1;
            position: relative;
            width: 80% !important;
            display: flex;
            justify-content: center !important;
            align-items: center !important;
            flex-direction: column;
            text-align: center;
        }
        h3 {
            font-size: 24px !important;
            line-height: 133% !important;
            padding: 0;
            width: 100% !important;
        }
        p {
            width: 100% !important;
            line-height: 133% !important;
            font-size: 13px !important;
        }
        button {

            font-size: 15px !important;
        }
    }
    .docs-page__content {
        flex-direction: column-reverse;
        padding: 10px !important;
    }

    .docs-page {
        .docs-page__header {
            padding: 40px 10px !important;
            h1 {
            
                font-size: 24px !important;
                font-style: normal;
            }
            p {
                font-size: 13px !important;

            }
        }

        .content__title {
            font-size: 19px !important;
        }

        h2 {
            font-size: 19px !important;
        }
        .content__body {
            font-size: 15px !important;

        }
    }

    .docs-page__table__header {
        font-size: 19px !important;
    }
    .docs-page__content__left {
        width: 100% !important;
        padding: 10px 40px !important;
    }

    .docs-page__content__right {
        width: 100% !important;

        ol {
            margin-left: 30px;
            margin-top: 8px;
            li, a {
                font-size: 13px !important;
            }
        }


    }

}
.docs-page {
    display: flex;
    flex-direction: column;
    .docs-page__header {
        padding: 84px 184px;
        width: 100%;
        h1 {
            color: #323232;
            text-align: center;
            font-family: "Montserrat";
            font-size: 44px;
            font-style: normal;
            font-weight: 500;
            line-height: normal; 
        }
        p {
            color:#323232;
            text-align: center;
            font-family: "Montserrat";
            font-size: 17px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; 
        }
    }
    .docs-page__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 184px;
        .content__title {
            color:  #323232;
            font-family: "Montserrat";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
            margin-bottom: 64px;
        }
        h2 {
            color:  #323232;
            font-family: "Montserrat";
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: normal; 
        }
        .content__body {
            color:  #323232;
            font-family: "Montserrat";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; 
            margin-bottom: 16px;;
        }
        .content__list {
            padding-left: 16px;
            padding-top: 64px;
            display: flex;
            flex-direction: column;

            .content__list-item {
                margin-bottom: 64px;
                display: flex;
                flex-direction: column;

                .content__list-item-header {
                    color: #323232;
                    font-family: "Montserrat";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal; 
                }

                ul, ol {
                    padding-left: 20px;
                    li {
                        color:  #323232;
                        font-family: "Montserrat";
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal; 
                        
                    }
                }
            }
        }
        .docs-page__content__left {
            width: 66.6%;
        }
        .docs-page__content__right {
            width: 33.3%;

        }

        .docs-page__table {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            .docs-page__table__header {
                color: #232422;
                font-family: "Montserrat";
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: normal; 
            }

            ol {
                margin-left: 30px;
                margin-top: 8px;
                li, a {
                    color: #232422;
                    font-family: "Montserrat";
                    font-size: 19px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration-line: underline; 
                    margin-bottom: 8px;
                }
            }
        }
        
    }

    .docs-page__contact-section {
        padding: 0px 210px;
        width: 100%;
        height: 591px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-repeat: no-repeat;
        .docs-page__contact-section-content {
            width: 576px;
        }
        h3 {
            color: #FFF;
            font-family: "Montserrat";
            font-size: 44px;
            font-style: normal;
            font-weight: 500;
            margin: 0;
            line-height: 56px; 
        }
        p {
            margin-top: 24px;
            width: 420px;
            color: #FFF;
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin-bottom: 54px;
        }
        button {
            border-radius: 24px;
            background: #FFF; 
            padding: 10px 28px; 
            color: #232422;
            font-family: "Montserrat";
            font-size: 19px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; 
        }
    }
}

