.footer__logo {
    width: 150px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        margin-top: 40px;
    }
}

footer {
    a {
        color: inherit !important;
        text-decoration: none !important;
    }
}