.navbar__logo{
    width: 120px;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        width: 40px;
        margin-top: 24px;
        margin-left: 5px;
        margin-bottom: 20px;;
    }
}

.navbar__hamburger {
    @media screen and (max-width: 768px) {
        margin-top: -12px
    }
}
.user-profile__navbar__avatar {
    width: 55px;
    height: 55px; 
    border-radius: 50%;
    background-color: #79806C;
    color: #fff;
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: normal;
    padding-top: 9px;
    // border: 1px solid #616857;
    // margin-right: 10px;
    cursor: pointer;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}
.user-profile__navbar__avatar:hover{
    background-color: #7C866F;
}

.navbar__options {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    .navbar__options-btn {
        padding: 20px 0px;
        color: white;
        font-family: "Montserrat";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        span {
            margin-right: 5px;
        }
    }
    .navbar__options-dropdown {
        top: 60px;
        right: 0px;
        position: absolute;
        background-color: white;
        padding: 0px;
        border-radius: 10px;
        width: 200px;
        list-style: none;
        margin:0px;
        li {
            cursor: pointer;
            font-size: 18px;
            color: black;
            font-family: "Montserrat";
            padding: 10px;
            border-bottom: 1px solid rgba(100,100,100, .5); 
            &:last-child {
                border: none;
            }
        }
    }
}