.black-bg {
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 23.44%, #000000 68.75%);
}

.info__bg-overlay {
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.9514180672268907) 0%, rgba(0,0,0,0.2231267507002801) 40%, rgba(0,0,0,0.8673844537815126) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  .info__testimonial {
    width: 310px !important;
    display: flex;
    flex-direction: column;
    width: auto;
    p {
      color: #FFF;
      font-family: "Montserrat";
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid #FFF;   
     }
     label {
      color: #FFF;
      font-family: "Montserrat";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 10px;
    }
    span {
      color:#FFF;
      font-family: "Montserrat";
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  
}

.fade-up {
    opacity: 0;
    transform: translateY(50px);
    animation-name: fadeUp;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .info-section__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    img {
      width: 502px;
      position: relative;
      left: 20px;
      top: 10px;
      @media screen and (max-width: 768px) {
        width: 100%;
        left: 0px;
      top: 0px;
      }
    }
  }

  .inner-info-section {
    width: 100%;

  }
  .info-section__left {
    padding-right: 0px;
    @media screen and (max-width: 768px) {
      padding: 64px 40px;
      text-align: center;
      background-color: #C8C1B6;
    }

  }

  .info-section__left,
  .info-section__right {
    position: relative;
    top: 100px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      width: 100% !important;
      top: 0px;
    }
  }

  .info-section__left {
    width: 55%;
  }

  .info-section__right {
    position: relative;
    width: 45%;
  }