.black-bg {
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 23.44%, #000000 68.75%);
}

.fade-up {
    opacity: 0;
    transform: translateY(50px);
    animation-name: fadeUp;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .info-section__image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 502px;
      position: relative;
      left: 20px;
      top: 10px
    }
  }

  .inner-info-section {
    width: 100%;

  }
  .info-section__left {
    padding-right: 0px;
  }

  .info-section__left,
  .info-section__right {
    position: relative;
    top: 100px;
    align-items: center;
    justify-content: center;
  }

  .info-section__left {
    width: 55%;
  }

  .info-section__right {
    width: 45%;
  }