 @import "../../utils";

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'mollen', sans-serif;
 }

 .wrapper {
    position: relative;
    width: 450px;

    @include phone {
      width: 100%;
    }
     margin: 25px auto;
 }

//  .header-search-bar {

//  }

 .header-search-bar .search-bar input {
    height: 45px;
    font-size: 16px;
 }
 .header-search-bar .search-bar .icon {
    height: 45px;
    width: 45px;
 }
 .wrapper .search-bar {
     position: relative;
     background: #fff;
     width: 100%;
     border-radius: 50px;
     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
 }

 .search-bar input {
     height: 55px;
     width: 100%;
     outline: none;
     border: none;
     border-radius: 30px;
     padding: 0 125px 0 20px;
     font-size: 18px;
     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
 }

 .search-bar .icon {
     height: 55px;
     width: 55px;
     line-height: 55px;
     position: absolute;
     top: 0;
     right: 0;
     text-align: center;
     font-size: 20px;
     color: #01bf71;
     cursor: pointer;
 }

 .search-bar .autocom-box {
     /* padding: 10px 8px; */
     max-height: 280px;
     overflow-y: auto;
     opacity: 0;
     pointer-events: none;

 }

 .autocom-box li{
     list-style: none;
     padding: 8px 12px;
     cursor: default;
     border-radius: 3px;
     display: none;
 }

 .autocom-box li:hover {
     background: #efefef;
 }

 .list-items{
    padding: 10px 0px;
    list-style: none;
    color: #000;
    font-weight: 600;
    background-color: #fff;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
    width: fill-available;
    width: -moz-available;
    width: -webkit-fill-available;
    position: absolute;
    overflow: hidden;
    max-height: 275px;
    overflow-y: auto;
  }
  
  .list-items.list-items-show{
    display: block;
  }
  
  .list-items li{
    cursor: pointer;
  }
  
  .search-bar .input-change{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }
  
  .search-bar-change{
    box-shadow: none !important;
  }
.list-items .list-items__address {
    display: block;
    color: rgba(0,0,0,.5);
    font-size: 11px;
    transition: all 1s;
    transition-timing-function: ease-in;
 }
  .list-items .list-item {
    padding: 10px;
 }
 .list-items .list-item:hover {
    background-color: rgb(230,230,230);
    
 }