@import "variables";

@font-face {
  font-family: 'SFNS';
  src: url(./fonts/SFNS.ttf) format('truetype');
}

@font-face {
  font-family: 'mollen-bold';
  src: url(./fonts/Mollen-Personal-Use-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'mollen-light';
  src: url(./fonts/Mollen-Personal-Use-Light.otf) format('opentype');
}

@font-face {
  font-family: 'mollen';
  src: url(./fonts/Mollen-Personal-Use-Regular.otf) format('opentype');
}

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-100 {
  width: 100%
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-fill {
  flex: 1;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px
}

.create-review-btn {
  display: flex;
  align-items: center;
  border: 1px solid rgb(3,76,31);
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 26px;
  color: white;
  background: rgb(3,76,31);
  width: fit-content;
  margin-top: 10px;
  cursor: pointer;

  span {
    font-size: 30px;
    margin-right: 5px;
  }
}

.place-info-container {
  position: relative;
  width: 600px;
  padding-right: 75px;
  height: 100%;
}

.place-info-container .create-review-btn {
  position: absolute;
  right: 0;
  top: 15px;
}

.map-container {
  padding: 0px;
  margin: 0px;
  width: 520px;
  height: 480px !important;
  filter: drop-shadow(0px 12px 14px rgba(0, 0, 0, 0.1));
}

.place-info-container__header {
  max-width: 85%;

  h1 {
    font-size: 60px;
    line-height: 110%;
  }

  .place-info-container__address {
    margin: 15px 0px;
  }
}

.map-container {
  height: 90vh;
  width: 100%;
  flex: 1;
}
.reviews-section {
  max-height: 100%;

}