.review-card {
    margin-bottom: 15px;
    width: 600px;
    border: 1px solid rgb(200,200,200);
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    span {
        font-size: 14px;
        font-family: sans-serif
    }
    p {
        font-size: 16px;
        font-family: sans-serif
    }
    .review-card__main-content {
        border-bottom: 1px solid rgb(220,220,220);
        padding-bottom: 15px;
        
        .review-card__big-rating {
            padding: 20px 10px;
            .review-card__big-rating-circle {
                border-radius: 50%;
                font-family: sans-serif;
                font-size: 32px;
                padding: 10px;
                background-color: rgba(255,0,0,.3);
                color: rgba(255,0,0, .7);
                font-weight: bold;
                border: 1px solid rgb(255,0,0);
            }
        }

        .review-card_content-body {
            padding-top: 15px;
            p {
                color: rgb(100,100,100);
                font-size: 14px;
            }
        }
    }
    .review-card__footer-content {
        padding-top: 15px;

        .review-card__footer-rating {
            cursor: default;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-family: 'Montserrat';
            width: 50%;
            padding: 10px;

            .review-card__icon {
                margin-right: 10px;
            }
            font-weight: bold;
            letter-spacing: 1px;
        }
    }

    .vote-container {
        background-color: rgb(200,200,200);
        color: rgb(50,50,50);
        width: 150px;
        border-radius: 20px;
        display: flex;
        height: fit-content;
        align-items: center;
        margin: 10px 0px;
        margin-right: 5px;
        .vote-box {
            width: 50%;
            padding: 10px;
            
            display: flex;
            align-items: center;
            justify-content: center;
            // &.downvote {
                
            // }
    
            &.upvote {
                padding-right: 15px;
                border-right: 1px solid white;
            }
            span {
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                margin-right: 10px;


            }
            &.highlighted {
                color: rgb(50,50,200);
            }
            &:hover {
                cursor: pointer;
                // &.upvote {
                // }
                // &.downvote {
                // }
            }
        }
    }
    
}